#right-eye {
  transition: all .5s linear;
  animation: look 1s infinite alternate;
}

#left-eye {
  transition: all .5s linear;
  animation: look 1s infinite alternate;
}

@keyframes look {

  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

#right-ear {
  transform: translateY(-10px);
  transition: all 1s linear;
}

#left-ear {
  transform: translateY(-10px);
  transition: all 1s linear;
}

#bear:hover #right-ear {
  transform: translateY(10px);
}

#bear:hover #left-ear {
  transform: translateY(10px);
}
